.AnchoredLayer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    transform: translateX(-50%);
    z-index: 900;
}

.Tooltip {
    background: #333;
    border-radius: .4em;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .5), 0 1px 6px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    color: white;
    font-size: .8em;
    max-width: 16em;
    padding: .5em .8em;
    position: absolute;
}
.Tooltip--top,
.Tooltip--bottom {
    margin: 5px 0;
}
.Tooltip--top {
    bottom: 50%;
}
.Tooltip--bottom {
    top: 50%;
}
.Tooltip--left,
.Tooltip--right {
    margin: 0 5px;
}
.Tooltip--left {
    right: 50%;
}
.Tooltip--right {
    left: 50%;
}

.Tooltip::after {
    background: #333;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
    box-sizing: border-box;
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%);
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    width: 8px;
}
.Tooltip--top::after,
.Tooltip--bottom::after {
    left: 50%;
}
.Tooltip--top::after {
    bottom: -4px;
    transform: translateX(-50%) rotate(135deg);
}
.Tooltip--bottom::after {
    top: -4px;
    transform: translateX(-50%) rotate(315deg);
}
.Tooltip--left::after,
.Tooltip--right::after {
    top: 50%;
}
.Tooltip--left::after {
    right: -4px;
    transform: translateY(-50%) rotate(45deg);
}
.Tooltip--right::after {
    left: -4px;
    transform: translateY(-50%) rotate(225deg);
}
