.AnchoredLayer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    transform: translateX(-50%);
    z-index: 900;
}

.Tooltip {
    background: #333;
    border-radius: .4em;
    color: white;
    font-size: .8em;
    max-width: 13em;
    padding: .4em .8em;
    position: absolute;
}
.Tooltip--top,
.Tooltip--bottom {
    margin: .6em 0;
}
.Tooltip--top {
    bottom: 50%;
}
.Tooltip--bottom {
    top: 50%;
}
.Tooltip--left,
.Tooltip--right {
    margin: 0 .6em;
}
.Tooltip--left {
    right: 50%;
}
.Tooltip--right {
    left: 50%;
}

.Tooltip::after {
    border: .6em solid #333;
    content: "";
    display: block;
    position: absolute;
}
.Tooltip--top::after,
.Tooltip--bottom::after {
    border-color: #333 transparent;
    left: 50%;
    transform: translateX(-50%);
}
.Tooltip--top::after {
    border-bottom-width: 0;
    top: 100%;
}
.Tooltip--bottom::after {
    border-top-width: 0;
    bottom: 100%;
}
.Tooltip--left::after,
.Tooltip--right::after {
    border-color: transparent #333;
    top: 50%;
    transform: translateY(-50%);
}
.Tooltip--left::after {
    border-right-width: 0;
    left: 100%;
}
.Tooltip--right::after {
    border-left-width: 0;
    right: 100%;
}
