.BoardPlacement--interactive:hover {
    background: #eee;
    cursor: pointer;
}
.BoardPlacement + .BoardPlacement {
    box-shadow: 0 -1px #ccc;
}

.BoardPlacement-spotCell {
    width: 50px;
}

.BoardPlacement-spot {
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 50%;
    display: inline-flex;
    font-weight: 600;
    height: 2em;
    justify-content: center;
    margin: .5em 1em;
    width: 2.8em;
}

.BoardPlacement-title {
    font-weight: 600;
    padding: .5em 1em;
    text-transform: uppercase;
}
