.BoardPlacement--interactive:hover {
    background: #eee;
    cursor: pointer;
}
.BoardPlacement + .BoardPlacement {
    box-shadow: 0 -1px #ccc;
}

.BoardPlacement-spotCell {
    position: relative;
    text-align: center;
    width: 80px;
}

.BoardPlacement-spot {
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 600;
    height: 2.3em;
    justify-content: center;
    margin: .2em .4em;
    width: 3.2em;
}
.BoardPlacement-spot--summer {
    border-color: gold;
}
.BoardPlacement-spot--winter {
    border-color: royalblue;
}
.BoardPlacement-spot--taken {
    background: #ddd;
    border-color: #ddd;
    border-style: solid;;
}

.BoardPlacement-overflow {
    left: 64px;
    position: absolute;
    top: 10px;
    white-space: nowrap;
}
.BoardPlacement-overflow .Worker {
    margin-left: -23px;
}

.BoardPlacement-title {
    font-weight: 600;
    padding: .5em 1em;
    text-transform: uppercase;
}
