.GameBoard {
    display: grid;
    grid-gap: 8px;
    grid-template-areas:
        "nothing decks"
        "order summer-actions"
        "order winter-actions";
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr auto auto;
    overflow: auto;
    padding: 16px;
}

.GameBoard-order {
    grid-area: order;
}

.GameBoard-summerActions,
.GameBoard-winterActions {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.GameBoard-summerActions {
    grid-area: summer-actions;
}

.GameBoard-winterActions {
    grid-area: winter-actions;
}
