.GameBoard {
    display: grid;
    grid-template-areas:
        "order actions";
    grid-template-columns: auto 4fr;
    overflow: auto;
}

.GameBoard-wakeUpOrder {
    border-right: 1px solid #aaa;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    grid-area: order;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    width: 80px;
}
.GameBoard-wakeUpPosition {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 40px;
    justify-content: center;
    white-space: nowrap;
}
.GameBoard-wakeUpPosition + .GameBoard-wakeUpPosition {
    border-top: 1px solid #ccc;
}
.GameBoard-wakeUpPosition--current .GameBoard-roosterContainer {
    animation: .5s ease-in-out GameBoard-roosterBounce infinite alternate;
}
.GameBoard-wakeUpPosition--passed {
    background: #ddd;
}

@keyframes GameBoard-roosterBounce {
    0% {
        transform: rotate(-10deg) translateX(-.1em);
    }
    100% {
        transform: rotate(10deg) translateX(.2em);
    }
}

.GameBoard-actionsScroller {
    grid-area: actions;
    overflow: auto;
}

.GameBoard-seasons {
    display: flex;
    height: 100%;
}
@media (max-width: 1150px) {
    .GameBoard-seasons {
        width: 200%;
    }
}

.GameBoard-summerHeader,
.GameBoard-winterHeader {
    font-weight: bold;
    height: 2em;
    padding: 0 1em;
}
.GameBoard-summerHeader {
    background: gold;
}
.GameBoard-winterHeader {
    background: royalblue;
    color: white;
}

.GameBoard-summerActions,
.GameBoard-winterActions {
    padding: 24px;
    width: 50%;
}

.GameBoard-actionsTable {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
