.GameBoard {
    display: grid;
    grid-template-areas:
        "season banner"
        "order actions";
    grid-template-columns: 5em 4fr;
    grid-template-rows: 2em 1fr;
}

.GameBoard-wakeUpOrder {
    border-right: 1px solid #aaa;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    grid-area: order;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.GameBoard-wakeUpPosition {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 40px;
    justify-content: center;
    white-space: nowrap;
}
.GameBoard-wakeUpPosition + .GameBoard-wakeUpPosition {
    border-top: 1px solid #ccc;
}
.GameBoard-wakeUpPosition--passed {
    background: #ddd;
}

.GameBoard-currentPlayer {
    height: 3.2em;
    position: absolute;
    width: 3.2em;
}

.GameBoard-currentPlayerIndicator {
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.GameBoard-currentPlayerIndicator--blue {
    border-color: royalblue;
}
.GameBoard-currentPlayerIndicator--green {
    border-color: seagreen;
}
.GameBoard-currentPlayerIndicator--orange {
    border-color: darkorange;
}
.GameBoard-currentPlayerIndicator--purple {
    border-color: purple;
}
.GameBoard-currentPlayerIndicator--red {
    border-color: firebrick;
}
.GameBoard-currentPlayerIndicator--yellow {
    border-color: gold;
}

.GameBoard-actionsScroller {
    grid-area: actions;
    overflow: auto;
}

.GameBoard-seasons {
    display: flex;
    height: 100%;
}
@media (max-width: 1280px) {
    .GameBoard-seasons {
        width: 200%;
    }
}

.GameBoard-season {
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    display: flex;
    font-weight: 600;;
    grid-area: season;
    justify-content: center;
    text-transform: capitalize;
}
.GameBoard--spring .GameBoard-season {
    background: #40a746;
}
.GameBoard--summer .GameBoard-season {
    background: gold;
}
.GameBoard--fall .GameBoard-season {
    background: peru;
}
.GameBoard--winter .GameBoard-season {
    background: royalblue;
    color: white;
}

.GameBoard-summerHeader,
.GameBoard-winterHeader {
    font-weight: bold;
    height: 2em;
    padding: 0 1em;
}
.GameBoard-summerHeader {
    background: gold;
}
.GameBoard-winterHeader {
    background: royalblue;
    color: white;
}

.GameBoard-summerActions,
.GameBoard-winterActions {
    padding: 24px;
    position: relative;
    width: 50%;
}
.GameBoard-summerActions::after,
.GameBoard-winterActions::after {
    background: black;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .05;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .2s opacity linear;
    width: 100%;
    z-index: 1;
}
.GameBoard--summer .GameBoard-summerActions::after,
.GameBoard--winter .GameBoard-winterActions::after {
    opacity: 0;
}

.GameBoard-actionsTable {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
