.OenologyGame {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-template-rows: 15em 1fr 22em;
    grid-template-areas:
        "playerboards playerboards"
        "main         activitylog"
        "playermat    activitylog";
    flex: 1 1 auto;
    min-height: 1px;
}

/* xwide monitors */
@media (min-width: 1750px) {
    .OenologyGame {
        grid-template-columns: 1fr 520px 360px;
        grid-template-rows: 1fr 20em;
        grid-template-areas:
            "main      playerboards activitylog"
            "playermat playerboards activitylog";
    }
}

/* mobile */
@media (max-width: 500px) {
    .OenologyGame {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 15em 1fr 25em;
        grid-template-areas:
            "playerboards playerboards"
            "main         main"
            "activitylog  playermat";
    }
}

