.OenologyGame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 280px 1fr;
    /* 36px = App-header height; 280px = PlayerMat height */
    grid-template-rows: calc(100vh - 36px - 280px) 280px 1fr;
    grid-template-areas:
        "main"
        "bottom"
        "sidebar";
    flex: 1 1 auto;
    min-height: 1px;
}

@media (min-width: 800px) {
    .OenologyGame {
        grid-template-columns: 1fr 520px;
        grid-template-rows: 1fr 320px;
        grid-template-areas:
            "main sidebar"
            "bottom sidebar";
    }
}

@media (min-width: 1750px) {
    .OenologyGame {
        grid-template-columns: 1fr 880px;
    }
}

