.OenologyGame {
    display: grid;
    grid-template-columns: 1fr 525px;
    grid-template-rows: 1fr 320px;
    grid-template-areas:
        "main sidebar"
        "bottom sidebar";
    flex: 1 1 auto;
    min-height: 1px;
}

@media (min-width: 1750px) {
    .OenologyGame {
        grid-template-columns: 1fr 900px;
    }
}
