.PlayerMat {
    background: #282c34;
    display: flex;
    flex-direction: column;
    grid-area: bottom;
}

.PlayerMat-header {
    align-items: center;
    display: flex;
    padding: 12px 12px 8px;
}

.PlayerMat-recurringRevenue,
.PlayerMat-coins,
.PlayerMat-victoryPoints {
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 600;
    height: 32px;
    margin-right: 8px;
    justify-content: center;
    width: 32px;
}

.PlayerMat-recurringRevenue {
    border: 2px dashed #ccc;
    color: #ccc;
}
.PlayerMat-coins {
    background: gold;
    border: 2px solid goldenrod;
}
.PlayerMat-victoryPoints {
    background: white;
    border: 2px solid blueviolet;
}

.PlayerMat-workers {
    margin-left: 12px;
}
.PlayerMat-worker {
    display: inline-block;
    margin-right: 8px;
}
.PlayerMat--blue .PlayerMat-worker {
    fill: royalblue;
}
.PlayerMat--green .PlayerMat-worker {
    fill: seagreen;
}
.PlayerMat--orange .PlayerMat-worker {
    fill: darkorange;
}
.PlayerMat--purple .PlayerMat-worker {
    fill: purple;
}
.PlayerMat--red .PlayerMat-worker {
    fill: firebrick;
}
.PlayerMat--yellow .PlayerMat-worker {
    fill: gold;
}
.PlayerMat-workerIcon {
    height: 32px;
    width: 32px;
}

.PlayerMat-cards {
    display: flex;
    min-height: 1px;
    overflow-x: auto;
    padding: 8px 12px 12px;
}
.PlayerMat-cards::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 16px;
}
.PlayerMat-card + .PlayerMat-card {
    margin-left: 16px;
}
