.Sidebar {
    background: #282c34;
    border-right: 4px solid #282c34;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
}

.Sidebar-players {
    overflow-y: auto;
}

.Sidebar-activityLog {
    box-sizing: border-box;
    flex: 1 1 520px;
    overflow-y: auto;
}

.Sidebar-activityLogContents {
    box-sizing: border-box;
    color: #ddd;
    display: flex;
    fill: #ddd;
    flex-direction: column-reverse;
    font-size: .8em;
    justify-content: flex-end;
    line-height: 2em;
    max-width: 290px;
    padding: 8px;
}

.Sidebar-seasonSeparator {
    align-items: center;
    border-top: 1px solid #666;
    color: #666;
    display: flex;
    font-weight: 600;
    margin: 8px 0 16px;
}
