.SidebarPlayer {
    background-color: white;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
}

.SidebarPlayer-header {
    align-items: center;
    background: #ccc;
    border-bottom: 4px solid black;
    display: flex;
    height: 32px;
    padding: 0 8px;
}
.SidebarPlayer--blue .SidebarPlayer-header {
    border-bottom-color: royalblue;
}
.SidebarPlayer--green .SidebarPlayer-header {
    border-bottom-color: seagreen;
}
.SidebarPlayer--orange .SidebarPlayer-header {
    border-bottom-color: darkorange;
}
.SidebarPlayer--purple .SidebarPlayer-header {
    border-bottom-color: purple;
}
.SidebarPlayer--red .SidebarPlayer-header {
    border-bottom-color: firebrick;
}
.SidebarPlayer--yellow .SidebarPlayer-header {
    border-bottom-color: gold;
}

.SidebarPlayer-playerName {
    font-size: 16px;
    font-weight: 600;
}

.SidebarPlayer-cards {
    display: flex;
    margin-left: 24px;
    margin-right: auto;
}
.SidebarPlayer-card {
    margin-left: -8px;
    width: 16px;
}

.SidebarPlayer-residualPayments,
.SidebarPlayer-coins,
.SidebarPlayer-victoryPoints {
    margin-left: 4px;
}

.SidebarPlayer-workers {
    display: inline-block;
    vertical-align: top;
}
.SidebarPlayer-worker {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 24px;
    justify-content: center;
    width: 24px;
}

.SidebarPlayer-fields {
    display: inline-block;
    vertical-align: top;
}
.SidebarPlayer-field {
    align-items: center;
    background: #40a746;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
}
.SidebarPlayer-field + .SidebarPlayer-field {
    box-shadow: inset 0 1px 0 0 white;
}
.SidebarPlayer-fieldSold {
    background: white;
    color: #d80000;
    font-weight: 600;
    padding: 2px 4px;
    transform: rotate(-5deg);
}

.SidebarPlayer-grapesAndWine {
    border-right: 1px solid #aaa;
    display: inline-block;
    vertical-align: top;
}

.SidebarPlayer-grape,
.SidebarPlayer-wine {
    align-items: center;
    color: #ccc;
    display: inline-flex;
    height: 24px;
    justify-content: center;
    width: 24px;
}

.SidebarPlayer-wines {
    display: flex;
    justify-content: flex-end;
}

.SidebarPlayer-cellar {
    box-shadow: inset 0 1px 0 0 #ccc;
    position: relative;
    z-index: 0;
}
.SidebarPlayer-cellar:before,
.SidebarPlayer-cellar:after  {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        #ddd 5px,
        #ddd 10px
    );
    bottom: 0;
    content: "";
    position: absolute;
    top: 1px;
    z-index: -1;
}
.SidebarPlayer-cellar:before {
    left: 34%;
    right: 34%;
}
.SidebarPlayer-cellar:after {
    left: 68%;
    right: 0;
}
.SidebarPlayer-cellar--withMedium:before {
    display: none;
}
.SidebarPlayer-cellar--withLarge:after {
    display: none;
}

.SidebarPlayer-structures {
    vertical-align: top;
    display: inline-block;
}
.SidebarPlayer-structure {
    align-items: center;
    color: #aaa;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;
}
.SidebarPlayer-structure--built {
    color: #222;
    font-weight: 600;
}
