.Sidebar {
    background: #ddd;
    border-left: 4px solid #282c34;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
}

@media (min-width: 1750px) {
    .Sidebar {
        flex-direction: row;
    }
    .Sidebar-players {
        min-width: 530px;
    }
}

.Sidebar-players {
    overflow-y: auto;
}

.Sidebar-activityLog {
    background: #282c34;
    box-sizing: border-box;
    flex: 1 1 240px;
    overflow-y: auto;
}

.Sidebar-activityLogContents {
    box-sizing: border-box;
    color: #ddd;
    display: flex;
    fill: #ddd;
    flex-direction: column-reverse;
    justify-content: flex-end;
    line-height: 2em;
    padding: 1em .5em;
}

.Sidebar-activityLogItem {
    background: rgba(255, 255, 255, .3);
    max-height: 0;
    opacity: 0;
    padding: 0 .5em;
}
.Sidebar-activityLogItem--seasonSeparator {
    background: none;
}
.Sidebar-activityLogItem--enter {
    background: none;
    transition: 2s background-color ease-out 3s, 200ms max-height ease-out, 200ms opacity ease-in;
    max-height: 5em;
    opacity: 1;
}

.Sidebar-seasonSeparator {
    align-items: center;
    border-top: 1px solid #666;
    color: #666;
    display: flex;
    font-weight: 600;
    margin: 8px 0 16px;
}
