.SidebarPlayer {
    background-color: white;
    border-bottom: 1px solid #aaa;
}

.SidebarPlayer-header {
    align-items: center;
    background: #ccc;
    border-bottom: 4px solid black;
    display: flex;
    height: 2.4em;
    padding: 0 .5em;
}
.SidebarPlayer--blue .SidebarPlayer-header {
    border-bottom-color: royalblue;
}
.SidebarPlayer--green .SidebarPlayer-header {
    border-bottom-color: seagreen;
}
.SidebarPlayer--orange .SidebarPlayer-header {
    border-bottom-color: darkorange;
}
.SidebarPlayer--purple .SidebarPlayer-header {
    border-bottom-color: purple;
}
.SidebarPlayer--red .SidebarPlayer-header {
    border-bottom-color: firebrick;
}
.SidebarPlayer--yellow .SidebarPlayer-header {
    border-bottom-color: gold;
}

.SidebarPlayer-playerName {
    font-weight: 600;
}

.SidebarPlayer-cards {
    display: flex;
    margin-left: 1.5em;
    margin-right: auto;
}
.SidebarPlayer-card {
    margin-left: -.5em;
    width: 1em;
}

.SidebarPlayer-residualPayments,
.SidebarPlayer-coins,
.SidebarPlayer-victoryPoints {
    margin-left: .5em;
}

.SidebarPlayer-workers {
    display: inline-block;
    vertical-align: top;
}
.SidebarPlayer-worker {
    align-items: center;
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: .1em;
    width: 2em;
}

.SidebarPlayer-fields {
    display: inline-block;
    vertical-align: top;
}
.SidebarPlayer-field {
    align-items: center;
    background: #40a746;
    box-sizing: border-box;
    display: flex;
    height: 4em;
    justify-content: center;
    width: 4em;
}
.SidebarPlayer-field + .SidebarPlayer-field {
    box-shadow: inset 0 1px 0 0 white;
}
.SidebarPlayer-fieldSold {
    background: white;
    color: #d80000;
    font-weight: 600;
    padding: 2px 4px;
    transform: rotate(-5deg);
}

.SidebarPlayer-grapesAndWine {
    border-right: 1px solid #aaa;
    display: inline-block;
    vertical-align: top;
}

.SidebarPlayer-grape,
.SidebarPlayer-wine {
    align-items: center;
    color: #ccc;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    width: 2em;
}

.SidebarPlayer-wines {
    display: flex;
    justify-content: flex-end;
}

.SidebarPlayer-cellar {
    box-shadow: inset 0 1px 0 0 #ccc;
    position: relative;
    z-index: 0;
}
.SidebarPlayer-mediumCellarOverlay,
.SidebarPlayer-largeCellarOverlay {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        rgba(200, 200, 200, .5) 5px,
        rgba(200, 200, 200, .5) 10px
    );
    bottom: 0;
    content: "";
    position: absolute;
    top: 1px;
}
.SidebarPlayer-mediumCellarOverlay::after,
.SidebarPlayer-largeCellarOverlay::after {
    align-items: center;
    background: #ddd;
    bottom: 0;
    display: flex;
    font-size: .7em;
    justify-content: center;
    height: 2em;
    position: absolute;
    width: 100%;
}

.SidebarPlayer-mediumCellarOverlay {
    left: 34%;
    right: 34%;
}
.SidebarPlayer-mediumCellarOverlay:hover::after {
    content: "Medium Cellar";
}

.SidebarPlayer-largeCellarOverlay {
    left: 68%;
    right: 0;
}
.SidebarPlayer-largeCellarOverlay:hover::after {
    content: "Large Cellar";
}

.SidebarPlayer-structures {
    vertical-align: top;
    display: inline-block;
    padding: 0 .5em;
}
.SidebarPlayer-structure {
    align-items: center;
    color: #aaa;
    display: flex;
    height: 2em;
}
.SidebarPlayer-structure--built {
    color: #222;
    font-weight: 600;
}
.SidebarPlayer-structure--used {
    text-decoration: line-through;
}
