.VisitorCard {
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 240px;
    max-height: 240px;
    padding: 4px;
    width: 160px;
}
.VisitorCard:hover {
    border-color: white;
    bottom: 4px;
    cursor: pointer;
    position: relative;
    transition: 200ms border-color, 200ms bottom;
}
.VisitorCard--summer {
    background: goldenrod;
}
.VisitorCard--winter {
    background: midnightblue;
}

.VisitorCard-name {
    font-weight: 600;
    padding: 4px 4px 8px;
    text-transform: uppercase;
}
.VisitorCard--winter .VisitorCard-name {
    color: white;
}

.VisitorCard-description {
    align-items: center;
    background: antiquewhite;
    border-radius: 2px;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 8px;
    text-align: center;
}
