.App {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-shrink: 0;
  font-size: 18px;
  height: 32px;
  padding: 0 16px;
}

.App-homeLink {
  color: white;
  text-decoration: none;
}

.App-cheatBox {
  background: transparent;
  border: 0;
  color: white;
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}


@media (min-width: 950px) {
  .App {
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
  }

  .App-header {
    height: 48px;
    padding: 0 16px;
  }
}
