.App {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 100vh;
}

/* xwide monitors */
@media (min-width: 1750px) {
  .App {
    font-size: 16px;
  }
}

/* mobile */
@media (max-width: 500px) {
  .App {
    font-size: 8px;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-shrink: 0;
  font-size: 18px;
  height: 32px;
  padding: 0 16px;
}

@media (min-width: 1750px) {
  .App-header {
    height: 48px;
  }
}

.App-homeLink {
  color: white;
  text-decoration: none;
}
