.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-shrink: 0;
  font-size: 24px;
  height: 48px;
  padding: 0 16px;
}

.App-cheatBox {
  background: transparent;
  border: 0;
  color: white;
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}
