.Card {
    align-items: center;
    background: #ddd;
    border: .08em solid white;
    border-color: black;
    border-radius: .2em;
    box-sizing: border-box;
    display: inline-flex;
    height: 1.6em;
    justify-content: center;
    transform: rotate(-4deg);
    width: 1.2em;
}
.Card--vine {
    background: green;
}
.Card--summerVisitor {
    background: gold;
}
.Card--order {
    background: darkmagenta;
}
.Card--winterVisitor {
    background: midnightblue;
}
