.Coins {
    align-items: center;
    background: gold;
    border: .2em solid goldenrod;
    border-radius: .9em;
    box-sizing: border-box;
    color: black;
    display: inline-flex;
    font-weight: 600;
    height: 1.8em;
    justify-content: center;
    width: 1.8em;
}
