.Coins {
    align-items: center;
    background: gold;
    border: .2em solid goldenrod;
    border-radius: 1em;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 600;
    height: 2em;
    justify-content: center;
    width: 2em;
}
