.Grape {
    align-items: center;
    background: linear-gradient(-45deg, #feff9d 50%, #d80000 50%);
    border: .04em solid black;
    border-radius: .8em;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 600;
    height: 1.6em;
    justify-content: center;
    width: 1.6em;
}
.Grape + .Grape {
    margin-left: 0.4em;
}
.Grape--red {
    background: #d80000;
    color: white;
}
.Grape--white {
    background: #fff576;
    color: black;
}
