.Residuals {
    align-items: center;
    border: .1em solid #ad6b2a;
    border-radius: .9em;
    color: black;
    display: inline-flex;
    height: 1.6em;
    justify-content: center;
    position: relative;
    width: 1.6em;
}
.Residuals-amount {
    align-items: center;
    background: #cd7f32;
    border-radius: .6em;
    display: inline-flex;
    font-weight: 600;
    height: 1.2em;
    justify-content: center;
    position: relative;
    width: 1.2em;
}