.Residuals {
    align-items: center;
    color: black;
    display: inline-flex;
    height: 1.6em;
    justify-content: center;
    position: relative;
    width: 1.6em;
    z-index: 0;
}

.ResidualsArrow {
    fill: #8e5823;
    height: 1.8em;
    position: absolute;
    transform: rotate(10deg) scale(-1, 1);
    width: 1.8em;
    z-index: 1;
}

.Residuals-amount {
    align-items: center;
    background: #cd7f32;
    border-radius: 100%;
    display: inline-flex;
    font-weight: 600;
    height: 1.1em;
    justify-content: center;
    width: 1.1em;
}
