.VictoryPoints {
    align-items: center;
    background: white;
    border: .2em solid blueviolet;
    border-radius: .9em;
    box-sizing: border-box;
    color: black;
    display: inline-flex;
    font-weight: 600;
    height: 1.8em;
    justify-content: center;
    width: 1.8em;
}
