.WineGlass {
    align-items: center;
    color: black;
    display: inline-flex;
    fill: #ddd;
    filter: drop-shadow(0px 1px 0.1em rgba(0,0, 0, 0.6));
    flex-shrink: 0;
    font-style: normal;
    font-weight: 600;
    height: 1.6em;
    justify-content: center;
    position: relative;
    width: 1.6em;
}
.WineGlass--any {
    font-weight: normal;
}
.WineGlass--red {
    color: white;
    fill: #d80000;
}
.WineGlass--white {
    fill: #fff576;
}
.WineGlass--blush {
    fill: #ff7b8f;
}
.WineGlass--sparkling {
    fill: #f8eac0;
}

.WineGlass-svg {
    flex: 1 1 auto;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.WineGlass--sparkling .WineGlass-svg {
    transform: scale(0.8, 1.1);
}
