.WineGlass {
    color: black;
    display: flex;
    fill: #ddd;
    flex-shrink: 0;
    height: 1.6em;
    position: relative;
    width: 1.6em;
}
.WineGlass--red {
    color: white;
    fill: #d80000;
}
.WineGlass--white {
    fill: #fff576;
}
.WineGlass--blush {
    fill: #ff7b8f;
}
.WineGlass--sparkling {
    fill: #f8eac0;
}

.WineGlass-svg {
    flex: 1 1 auto;
}
.WineGlass--sparkling .WineGlass-svg {
    transform: scale(0.8, 1.1);
}

.WineGlass-value {
    font-weight: 600;
    left: 50%;
    margin-left: -0.3em;
    margin-top: -0.6em;
    position: absolute;
    top: 50%;
}
