.Worker {
    align-items: center;
    display: inline-flex;
    height: 1.4em;
    position: relative;
    width: 1.4em;
}
.Worker--grande {
    height: 2em;
    width: 2em;
}

.Worker-icon {
    height: 100%;
    left: 50%;
    position: absolute;
    stroke: black;
    stroke-width: .4em;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
}
.Worker-icon--blue {
    fill: royalblue;
}
.Worker-icon--green {
    fill: seagreen;
}
.Worker-icon--orange {
    fill: darkorange;
}
.Worker-icon--purple {
    fill: purple;
}
.Worker-icon--red {
    fill: firebrick;
}
.Worker-icon--yellow {
    fill: gold;
}
.Worker-icon--pink {
    fill: hotpink;
}
.Worker-icon--temp {
    fill: #999;
}
.Worker-icon--disabled {
    fill: white;
}
