.Worker {
    height: 1.4em;
    vertical-align: text-bottom;
    width: 1.4em;
}
.Worker--grande {
    height: 1.6em;
    vertical-align: text-bottom;
    width: 1.6em;
}
.Worker--disabled {
    opacity: 0.5;
}
.Worker--blue {
    fill: royalblue;
}
.Worker--green {
    fill: seagreen;
}
.Worker--orange {
    fill: darkorange;
}
.Worker--purple {
    fill: purple;
}
.Worker--red {
    fill: firebrick;
}
.Worker--yellow {
    fill: gold;
}
