.Home {
    text-align: center;
    overflow-y: auto;
}

.Home-title {
    margin-top: 2em;
}

.Home-newGame {
    background: #61dafb;
    border-radius: .2em;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: 600;
    height: 2em;
    margin-bottom: 3em;
    padding: 0 1em;
}

.Home-recentGamesTable {
    border-collapse: collapse;
    margin: 0 auto;
}

.Home-recentGame {
    border: 1px solid #ddd;
    border-width: 1px 0;
    height: 3.2em;
}

.Home-recentGameCell {
    padding: 0 .5em;
}
