.Lobby-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-content: center;
    position: relative;
}

.Lobby-nameLabel {
    color: #333;
    font-weight: 600;
}

.Lobby-nameInput {
    border: 0;
    border-bottom: 1px solid #aaa;
    display: block;
    font-size: 2em;
    margin-top: .2em;
    outline: none;
    width: 8em;
}

.Lobby-shareBanner {
    align-items: center;
    background: #61dafb;
    display: flex;
    height: 3em;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
}

.Lobby-shareLink {
    background: none;
    border: none;
    color: black;
}

.Lobby-copyLinkButton {
    border-radius: .2em;
    cursor: pointer;
    font-size: .8em;
    font-weight: 600;
    height: 2em;
    margin-left: 1em;
    text-align: center;
    width: 5em;
}
.Lobby-copyLinkButton:hover {
    background: #ddd;
}

.Lobby-controls {
    border-top: 1px solid #ddd;
    grid-area: bottom;
}

.Lobby-sidebar {
    background: #ddd;
    grid-area: sidebar;
}

.Lobby-usersHeader {
    padding: 0 1em;
}

.Lobby-user {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 2em;
    padding: 0 1em;
}

.Lobby-startGame {
    margin: 1em;
}

