.Lobby-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 1;
    justify-content: center;
    position: relative;
}
@media (min-width: 1750px) {
    .Lobby-main {
        grid-area: main;
    }
}
@media (max-width: 500px) {
    .Lobby-main {
        grid-area: 1 / 1 / 3 / 3;
    }
}

.Lobby-nameLabel {
    color: #333;
    font-weight: 600;
}

.Lobby-nameInput {
    border: 0;
    border-bottom: 1px solid #aaa;
    display: block;
    font-size: 2em;
    margin-top: .2em;
    outline: none;
    width: 8em;
}

.Lobby-howto {
    background: #eee;
    border-radius: 4px;
    margin-top: 5vh;
    padding: 1.6em;
    width: 15em;
}

.Lobby-howtoHeader {
    margin: 0 0 1em;
}

.Lobby-howtoList {
    margin: 0;
    padding-left: 1.5em;
}

.Lobby-howtoItem + .Lobby-howtoItem {
    margin-top: .5em;
}

.Lobby-shareBanner {
    align-items: center;
    background: #61dafb;
    display: flex;
    height: 3em;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
}

.Lobby-shareLink {
    background: none;
    border: none;
    color: black;
}

.Lobby-copyLinkButton {
    border-radius: .2em;
    cursor: pointer;
    font-size: .8em;
    font-weight: 600;
    height: 2em;
    margin-left: 1em;
    text-align: center;
    width: 5em;
}
.Lobby-copyLinkButton:hover {
    background: #ddd;
}

.Lobby-controls {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    grid-area: playermat;
    min-width: 1px;
}

.Lobby-exampleHeader {
    margin: 1em 1.5em 0;
}

.Lobby-cards {
    display: flex;
    min-height: 20em;
    overflow-x: auto;
    padding: 8px 1.6em 1em;
}
.Lobby-cards::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 1.6em;
}

.Lobby-card + .Lobby-card {
    margin-left: 16px;
}

.Lobby-sidebar {
    background: #ddd;
    grid-area: 1 / 2 / 4 / 2;
    padding: 0 1em;
}
@media (min-width: 1750px) {
    .Lobby-sidebar {
        grid-area: 1 / 2 / 3 / 4;
    }
}
@media (max-width: 500px) {
    .Lobby-sidebar {
        grid-area: activitylog;
    }
}

.Lobby-user {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 2em;
}

.Lobby-playerColor {
    margin-right: .5em;
    position: relative;
}
.Lobby-playerColor--editable {
    cursor: pointer;
}

.Lobby-playerColorPicker {
    background: white;
    border: 1px solid #ccc;
    border-radius: .5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
    cursor: default;
    margin-right: .5em;
    padding: .5em .8em;
    position: absolute;
    right: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.Lobby-playerColorButton {
    background: none;
    border-radius: 1.2em;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em;
}
.Lobby-playerColorButton--selected {
    background: #61dafb;
}
.Lobby-playerColorButton:disabled {
    cursor: default;
    opacity: .2;
}

.Lobby-hostTag {
    background: #333;
    border-radius: .2em;
    color: white;
    font-size: .8em;
    margin-left: 1em;
    padding: .2em .5em;
    text-transform: uppercase;
}

.Lobby-gameOptionsHeader {
    margin-top: 2em;
}

.Lobby-gameOptions {
    border-collapse: collapse;
    font-size: .8em;
}

.Lobby-gameOption + .Lobby-gameOption {
    margin-top: .5em;
}

.Lobby-optionLabel {
    align-items: center;
    display: inline-flex;
}

.Lobby-optionCheckbox {
    margin: 0 .8em 0 0;
}

.Lobby-comingSoonOption {
    color: #999;
}

.Lobby-comingSoon {
    font-style: italic;
}

.Lobby-startGame {
    margin-top: 2em;
}

