.BuildStructurePrompt-choices {
    display: flex;
    flex-flow: row wrap;
    margin: calc(-6px + 1em) calc(-6px + 1.6em) calc(-6px + 1em);
}

.BuildStructurePrompt-choiceButton {
    margin: 6px;
}
