.ChoiceButton {
    background: white;
    border: 2px solid #ccc;
    border-radius: .4em;
    display: inline-block;
    height: 2.8em;
    padding: 0 16px;
}
.ChoiceButton[disabled] {
    background: #ddd;
    border-color: #ccc;
}
.ChoiceButton:enabled:hover {
    border-color: black;
    cursor: pointer;
    transition: 150ms border-color;
}
