.ChoiceButton {
    background: white;
    border: 2px solid #ccc;
    border-radius: .4em;
    color: black;
    display: inline-block;
    height: 2.8em;
    outline: none;
    padding: 0 1em;
}
.ChoiceButton[aria-disabled=true] {
    background: #ddd;
    border-color: #ccc;
    color: #aaa;
    cursor: default;
}
.ChoiceButton[aria-disabled=false]:hover {
    border-color: black;
    cursor: pointer;
    transition: 150ms border-color;
}

@media (max-width: 500px) {
    .ChoiceButton {
        height: 4em;
    }
}
