.ChooseFieldPrompt-fields {
    align-items: stretch;
    display: flex;
    padding: 0 16px;
}
.ChooseFieldPrompt-field {
    background-color: #40a746;
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    padding: 16px;
    transition: 100ms transform ease-out;
    transform: translateY(0);
    width: 25%;
}
.ChooseFieldPrompt-field:not(.ChooseFieldPrompt-field--disabled):hover {
    cursor: pointer;
    transform: translateY(-8px);
}
.ChooseFieldPrompt-field .VineCard {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    height: 140px;
    margin: 0 0.5em 0.5em 0;
    width: 100px;
}
.ChooseFieldPrompt-field .VineCard:hover {
    bottom: 0;
}
