.ChooseFieldPrompt-fields {
    display: flex;
    flex: 1 1 auto;
    padding: 0 16px;
}

.ChooseFieldPrompt-field {
    background: green;
    margin-right: 16px;
    max-width: 280px;
    transition: 100ms transform ease-out;
    transform: translateY(0);
    width: 30%;
}
.ChooseFieldPrompt-field:not(.ChooseFieldPrompt-field--disabled):hover {
    cursor: pointer;
    transform: translateY(-8px);
}

.ChooseFieldPrompt-fieldHeader {
    background: #ccc;
    padding: 4px 8px;
}

.ChooseFieldPrompt-vine {
    background: #40a746;
    border-radius: 4px;
    display: flex;
    /* font-weight: 600; */
    justify-content: space-between;
    margin: 8px;
    padding: 8px;
}
