.ChooseActionPrompt-description {
    margin-bottom: -1em;
    padding: 0 1.6em;
}

.ChooseActionPrompt-body {
    align-items: flex-start;
    display: flex;
    padding: 1em 1.6em;
}

.ChooseActionPrompt-contextCard {
    flex-shrink: 0;
    margin-right: 16px;
}

.ChooseActionPrompt-choices {
    display: inline-flex;
    flex-flow: row wrap;
    margin: -6px;
}

.ChooseActionPrompt-choiceButton {
    margin: .5em;
}
.ChooseActionPrompt-choiceButton--selected {
    box-shadow: 0 0 0 3px #61dafb;
}

.ChooseActionPrompt-checkbox {
    margin-left: -.2em;
    margin-right: .8em;
}
