.ChooseActionPrompt {
    box-sizing: border-box;
    color: white;
    padding-bottom: 16px;
}

.ChooseActionPrompt-header {
    align-items: center;
    color: black;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    margin-bottom: 16px;
    padding: 0 16px;
    text-transform: uppercase;
}

.ChooseActionPrompt-choices {
    display: flex;
    flex-flow: row wrap;
    margin: -6px 10px -6px;
}

.ChooseActionPrompt-choiceButton {
    background: white;
    border: 2px solid #ddd;
    border-radius: .4em;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    height: 2.8em;
    margin: 6px;
    padding: 0 16px;
}
.ChooseActionPrompt-choiceButton:hover {
    border-color: black;
    transition: 150ms border-color;
}