.ChooseActionPrompt-body {
    align-items: flex-start;
    display: flex;
    padding: 0 1.6em;
}

.ChooseActionPrompt-contextCard {
    flex-shrink: 0;
    margin-right: 16px;
}

.ChooseActionPrompt-choices {
    display: inline-flex;
    flex-flow: row wrap;
    margin: -6px;
}

.ChooseActionPrompt-choiceButton {
    margin: 6px;
}
