.GameOverPrompt-body {
    overflow-x: auto;
}
.GameOverPrompt-body--scrolled::before {
    border-right: 1px solid #aaa;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 14em;
}

.GameOverPrompt-table {
    border-spacing: 0;
    margin: 1em;
    padding-left: 13em;
    text-align: center;
}

.GameOverPrompt-row {
    height: 3.2em;
}

.GameOverPrompt-row + .GameOverPrompt-row .GameOverPrompt-statCell {
    box-shadow: inset 0 1px #ddd;
}

.GameOverPrompt-graphButton {
    align-items: center;
    background: white;
    border: .2em solid #ddd;
    border-radius: 1em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    position: relative;
    top: -.5em;
    width: 2em;
}
.GameOverPrompt-graphButton:hover {
    border-color: black;
    transition: 150ms border-color linear;
}

.GameOverPrompt-graphIcon {
    height: 1em;
    width: 1em;
}

.GameOverPrompt-colHeader {
    padding: 0 .5em;
}

.GameOverPrompt-rowHeader {
    align-items: center;
    background: white;
    box-sizing: border-box;
    display: flex;
    height: 3.2em;
    left: 0;
    padding-left: 2em;
    position: absolute;
    text-align: left;
    width: 14em;
    z-index: 1;
}
.GameOverPrompt-row + .GameOverPrompt-row .GameOverPrompt-rowHeader::after {
    top: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    width: 13em;
    box-shadow: inset 0 1px #ddd;
}

.GameOverPrompt-vpIcon,
.GameOverPrompt-playerName,
.GameOverPrompt-winnerIcon {
    margin-right: .5em;
}

.GameOverPrompt-playerName {
    min-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.GameOverPrompt-statsButton {
    background: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 1em 1.6em;
    text-decoration: underline;
}

.GameOverPrompt-graph {
    margin-right: 1.6em;
}

.GameOverPrompt-line--blue .ct-line,
.GameOverPrompt-line--blue .ct-point {
    stroke: royalblue;
}
.GameOverPrompt-line--green .ct-point,
.GameOverPrompt-line--green .ct-line {
    stroke: seagreen;
}
.GameOverPrompt-line--orange .ct-point,
.GameOverPrompt-line--orange .ct-line {
    stroke: darkorange;
}
.GameOverPrompt-line--purple .ct-point,
.GameOverPrompt-line--purple .ct-line {
    stroke: purple;
}
.GameOverPrompt-line--red .ct-point,
.GameOverPrompt-line--red .ct-line {
    stroke: firebrick;
}
.GameOverPrompt-line--yellow .ct-point,
.GameOverPrompt-line--yellow .ct-line {
    stroke: gold;
}
.GameOverPrompt-line--pink .ct-point,
.GameOverPrompt-line--pink .ct-line {
    stroke: hotpink;
}
