.MakeWinePrompt {
    min-width: 360px;
}

.MakeWinePrompt-hints {
    margin: .5em 1.6em;
}

.MakeWinePrompt-formula {
    font-size: .8em;
}

.MakeWinePrompt-grapeSelector,
.MakeWinePrompt-cart {
    align-items: center;
    border-top: 1px solid #ccc;
    display: flex;
    font-style: italic;
    padding: 1em 1.6em;
}

.MakeWinePrompt-grapes,
.MakeWinePrompt-wineList {
    display: inline-flex;
}

.MakeWinePrompt-grape {
    margin-right: .5em;
}
.MakeWinePrompt-grapeButton {
    background: none;
    outline: none;
}
.MakeWinePrompt-grapeButton:enabled {
    cursor: pointer;
}
.MakeWinePrompt-grapeButton:enabled:hover .Grape--red {
    background: #890000;
}
.MakeWinePrompt-grapeButton:enabled:hover .Grape--white {
    background: #f6d000;
}
.MakeWinePrompt-grapeButton--selected .Grape {
    box-shadow: 0 0 2px 3px #61dafb;
}
.MakeWinePrompt-grapeButton:disabled .Grape--red,
.MakeWinePrompt-grapeButton:disabled .Grape--white {
    opacity: 0.7;
}

.MakeWinePrompt-addToCart,
.MakeWinePrompt-makeWineButton {
    margin-left: auto;
}

.MakeWinePrompt-wine + .MakeWinePrompt-wine {
    margin-left: .5em;
}
.MakeWinePrompt-removeWineButton {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    position: relative;
}
.MakeWinePrompt-removeWineButton:hover .WineGlass {
    opacity: .5;
}
.MakeWinePrompt-removeWineButton:hover::after {
    border-right: 2px solid #f00;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}

