.PlaceWorkerPrompt-body {
    overflow-y: auto;
    padding: 1em 1.6em 1.6em;
}

.PlaceWorkerPrompt-workerTypeSelector {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-bottom: 1em;
}

.PlaceWorkerPrompt-workerTypeButton {
    align-items: center;
    background: none;
    border-radius: 1.2em;
    display: flex;
    height: 2.4em;
    justify-content: center;
    margin-left: .5em;
    min-width: 2.4em;
    outline: none;
    padding: 0 .2em;
}
.PlaceWorkerPrompt-workerTypeButton:enabled {
    cursor: pointer;
}
.PlaceWorkerPrompt-workerTypeButton--selected {
    background: #61dafb;
}

.PlaceWorkerPrompt-choices {
    display: flex;
    flex-flow: row wrap;
    margin: -6px;
}

.PlaceWorkerPrompt-choice {
    position: relative;
}

.PlaceWorkerPrompt-choiceButton {
    margin: .5em;
}

.PlaceWorkerPrompt-choiceNeedsGrande {
    fill: #ccc;
    font-size: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
