.PlayerMat {
    background: #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
}

.PlayerMat-header {
    align-items: center;
    display: flex;
    padding: 12px 1.6em 8px;
}

.PlayerMat-residualPayments,
.PlayerMat-coins,
.PlayerMat-victoryPoints {
    margin-right: 8px;
}

.PlayerMat-workers {
    display: inline-flex;
    margin-left: 12px;
}
.PlayerMat-worker {
    align-items: center;
    border-radius: 1em;
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}
.PlayerMat-worker--highlighted {
    background: white;
}

.PlayerMat-cards {
    display: flex;
    min-height: 240px;
    overflow-x: auto;
    padding: 8px 1.6em 12px;
}
.PlayerMat-cards::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 16px;
}
.PlayerMat-card + .PlayerMat-card {
    margin-left: 16px;
}
