.PlayerMat {
    background: #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
}

.PlayerMat-header {
    align-items: center;
    display: flex;
    padding: 12px 16px 8px;
}

.PlayerMat-residualPayments,
.PlayerMat-coins,
.PlayerMat-victoryPoints {
    margin-right: 8px;
}

.PlayerMat-workers {
    margin-left: 12px;
}
.PlayerMat-worker {
    display: inline-block;
    margin-right: 8px;
}
.PlayerMat-worker--available {
    cursor: pointer;
}
.PlayerMat-worker--highlighted {
    stroke: black;
    stroke-width: 3px;
}

.PlayerMat-cards {
    display: flex;
    min-height: 1px;
    overflow-x: auto;
    padding: 8px 16px 12px;
}
.PlayerMat-cards::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 16px;
}
.PlayerMat-card + .PlayerMat-card {
    margin-left: 16px;
}
