.PlayerMat {
    background: #ddd;
    border-top: 1px solid #aaa;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    grid-area: playermat;
    min-width: 1px;
    position: relative;
    z-index: 1;
}

.PlayerMat-header {
    align-items: center;
    display: flex;
    padding: 12px 1.6em 8px;
}

.PlayerMat-coins,
.PlayerMat-victoryPoints {
    margin-right: .5em;
}

.PlayerMat-residualPayments {
    margin-right: .7em;
}

.PlayerMat-workers {
    display: inline-flex;
    margin-left: 12px;
}
.PlayerMat-worker {
    align-items: center;
    border-radius: 1em;
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}
.PlayerMat-worker--highlighted {
    background: white;
}

.PlayerMat-cards {
    display: flex;
    overflow-x: auto;
    padding: .5em 1.6em 1em;
}
.PlayerMat-cards::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 1.6em;
}
.PlayerMat-card + .PlayerMat-card {
    margin-left: 1em;
}
