.PromptStructure {
    background: white;
    border: 1px solid #ccc;
    border-radius: .5em;
    bottom: 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, .3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: 1.6em;
    margin-left: 6.6em;
    max-height: calc(100% - 1em);
    max-width: calc(100% - 8.2em);
    overflow: hidden;
    pointer-events: all;
    position: absolute;
    transition: 150ms transform ease-in-out;
}
.GameBoard--tuscanyA + * .PromptStructure,
.GameBoard--tuscanyB + * .PromptStructure {
    margin-left: 21.6em;
    max-width: calc(100% - 23.2em);
}
@media (max-width: 500px) {
    .GameBoard--tuscanyA + * .PromptStructure,
    .GameBoard--tuscanyB + * .PromptStructure {
        margin-left: 1em;
        max-width: calc(100% - 2em);
    }
}

.PromptStructure--collapsed {
    transform: translateY(calc(100% - 1em));
}
.PromptStructure-enter {
    opacity: 0;
    transform: translateY(20%);
}
.PromptStructure-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 150ms transform ease-out, 150ms opacity ease-out;
}
.PromptStructure-exit {
    opacity: 1;
    transform: translateY(0);
}
.PromptStructure-exit-active {
    opacity: 0;
    transform: translateY(20%);
    transition: 150ms transform ease-in, 150ms opacity ease-in;
}
@media (max-width: 1280px) {
    .PromptStructure {
        margin: 1em;
        max-width: calc(100% - 2em);
    }
}

.PromptStructure-header {
    align-items: center;
    background: #282c34;
    color: white;
    cursor: pointer;
    display: flex;
    fill: white;
    flex-shrink: 0;
    font-size: 1em;
    font-weight: 600;
    height: 2.4em;
    padding-left: 1.6em;
    padding-right: 1em;
    text-transform: uppercase;
}

.PromptStructure-title {
    margin-right: auto;
}

.PromptStructure-collapseButton,
.PromptStructure-closeButton {
    align-items: center;
    background: transparent;
    border-radius: .2em;
    cursor: pointer;
    display: flex;
    font-size: .5em;
    height: 2.8em;
    justify-content: center;
    position: relative;
    width: 2.8em;
}
.PromptStructure-collapseButton:hover,
.PromptStructure-closeButton:hover {
    background: rgba(255, 255, 255, .3);
}

.PromptStructure-collapseButton {
    margin-left: 1em;
}
.PromptStructure-collapseButton::after {
    background: white;
    bottom: .7em;
    content: "";
    display: block;
    height: .4em;
    position: absolute;
    width: 60%;
}
.PromptStructure--collapsed .PromptStructure-collapseButton::after {
    bottom: auto;
    top: .7em;
}
