.PromptStructure {
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    height: 100%;
    pointer-events: all;
    transition: 150ms transform ease-in-out;
}
.PromptStructure--collapsed {
    transform: translateY(calc(100% - 2.2em));
}
.ActionPrompt-enter .PromptStructure {
    transform: translateY(100%);
}
.ActionPrompt-enter-active .PromptStructure {
    transform: translateY(0);
    transition: 200ms transform cubic-bezier(0.16, 1, 0.3, 1);
}
.ActionPrompt-exit .PromptStructure {
    transform: translateY(0);
}
.ActionPrompt-exit-active .PromptStructure {
    transform: translateY(100%);
    transition: 200ms transform ease-in;
}

.PromptStructure-header {
    align-items: center;
    background: #282c34;
    color: white;
    cursor: pointer;
    display: flex;
    fill: white;
    flex-shrink: 0;
    font-size: 1em;
    font-weight: 600;
    height: 2.4em;
    padding: 0 1.6em;
    text-transform: uppercase;
}

.PromptStructure-collapseIcon {
    animation: .5s ease-in-out PromptStructure-collapseIconBounce infinite alternate;
    margin-right: 1em;
    transition: 150ms transform;
}
.PromptStructure--collapsed .PromptStructure-collapseIcon {
    animation: none;
    transform: rotate(180deg);
}

@keyframes PromptStructure-collapseIconBounce {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.PromptStructure-collapseIcon {
    display: block;
    height: 1em;
    width: 1em;
}
