.OrderCard {
    background: purple;
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    height: 240px;
    max-height: 240px;
    padding: 4px;
    width: 160px;
}
.OrderCard-name {
    color: white;
    font-weight: 600;
    padding: 4px 4px 8px;
    text-transform: uppercase;
}
.OrderCard-description {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    line-height: 1.6em;
    margin: 0;
    padding: 8px;
}
.OrderCard-wine {
    margin-bottom: 10px;
}
.OrderCard-rewards {
    align-self: flex-end;
    text-align: center;
    width: 100%;
}
