.SpecialWorkerCard {
    background: darkolivegreen;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    display: inline-flex;
    flex-direction: column;
    height: 60em;
    max-height: 16em;
    padding: .3em;
    width: 12.5em;
}

.SpecialWorkerCard-name {
    font-weight: 600;
    padding: .2em .5em .4em;
    text-transform: uppercase;
}

.SpecialWorkerCard-description {
    background: bisque;
    border-radius: 2px;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    line-height: 1.2em;
    min-height: 1px;
    padding: .5em;
    text-align: center;
}

