.VineCard {
    background: green;
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    height: 240px;
    max-height: 240px;
    padding: 4px;
    width: 160px;
}

.VineCard-name {
    font-weight: 600;
    padding: 4px 4px 8px;
    text-transform: uppercase;
}

.VineCard-description {
    background: #40a746;
    border-radius: 2px;
    flex: 1 1 auto;
    line-height: 1.6em;
    margin: 0;
    padding: 8px;
}

.VineCard-structures {
    height: 40%;
    height: calc(50% - 1em);
}

.VineCard-structure {
    background: #ccc;
    border-radius: 0.2em;
    display: inline-block;
    font-size: 14px;
    margin: 0 6px 4px 0;
    padding: 0 6px;
}

.VineCard-yield {
    text-align: center;
}
