.VisitorCard {
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 240px;
    max-height: 240px;
    padding: 4px;
    width: 160px;
}
.VisitorCard--summer {
    background: goldenrod;
}
.VisitorCard--winter {
    background: #223a90;
}

.VisitorCard-name {
    font-weight: 600;
    padding: 4px 4px 8px;
    text-transform: uppercase;
}
.VisitorCard--winter .VisitorCard-name {
    color: white;
}

.VisitorCard-description {
    align-items: center;
    background: antiquewhite;
    border-radius: 2px;
    display: flex;
    flex: 1 1 auto;
    line-height: 1.6em;
    margin: 0;
    padding: 8px;
    text-align: center;
}
.VisitorCard-descriptionText {
    margin: 0;
}
